body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
          transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.9;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
          transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image:before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
          animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-container [data-selectable=true] {
  cursor: text;
}

.fancybox-image, .fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--video .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-iframe, .fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled], .fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:first-child, .fancybox-button--pause svg:first-child, .fancybox-button--play svg:nth-child(2) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  z-index: 99998;
}

.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}

.fancybox-caption {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.85)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(65%, rgba(0, 0, 0, 0.15)), color-stop(75.5%, rgba(0, 0, 0, 0.075)), color-stop(82.85%, rgba(0, 0, 0, 0.037)), color-stop(88%, rgba(0, 0, 0, 0.019)), to(transparent));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, transparent);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

@supports (padding: max(0px)) {
  .fancybox-caption {
    padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom)) max(44px, env(safe-area-inset-left));
  }
}
.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

.fancybox-loading {
  -webkit-animation: a 1s linear infinite;
          animation: a 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@-webkit-keyframes a {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes a {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.fancybox-animated {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
          transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1) translateZ(0);
          transform: scaleX(1) translateZ(0);
}

.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
          transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
          transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
}

@media (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }

  .fancybox-slide--image {
    padding: 6px 0;
  }

  .fancybox-close-small {
    right: -6px;
  }

  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }

  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }

  @supports (padding: max(0px)) {
    .fancybox-caption {
      padding-left: max(12px, env(safe-area-inset-left));
      padding-right: max(12px, env(safe-area-inset-right));
    }
  }
}
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:link, .fancybox-share__button:visited {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a:before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus:before {
  opacity: 0.5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  opacity: 1;
}

@media (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }

  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }

  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.psd, .course-accordion:after, .product-card:before, .headline::before, .video a:before, .btn:before, .btn:after {
  content: "";
  display: block;
  position: absolute;
}

.trans, .course-accordion:after, .socially li a, .swiper-pagination .swiper-pagination-bullet, .swiper-slide, .black-btn, .product-card-title a, .product-card-img img, .product-card:before, .product-card, .video a:before, .white-btn, a, .btn:before, .btn:after, .btn {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn {
  display: block;
  vertical-align: top;
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  padding: 12px;
  border-radius: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn:after {
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#8E34D9), to(#72AAFF));
  background: linear-gradient(90deg, #8E34D9 0%, #72AAFF 100%);
  opacity: 1;
}
.btn:before {
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#8E34D9), to(#7E76EE));
  background: linear-gradient(90deg, #8E34D9 0%, #7E76EE 100%);
  opacity: 0;
}
.btn:hover, .btn:focus {
  color: #fff;
  text-decoration: none;
  background: none;
}
.btn:hover::before, .btn:focus::before {
  opacity: 1;
}
.btn:hover:after, .btn:focus:after {
  opacity: 0;
}

.trans-btn {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.trans-btn:hover, .trans-btn:focus {
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}

button, a,
.slide.slick-slide.slick-current.slick-active {
  outline: none !important;
}

body {
  background: #29303C;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #BCC2CB;
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #9577FF;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
  color: #B8A4FF;
}

p {
  font-size: 20px;
  color: #BCC2CB;
  line-height: 30px;
  margin: 0 0 30px 0;
}

.align, .info-item .btn, .info-item .white-btn, .headline span, .white-btn, .logo, svg {
  display: inline-block;
  vertical-align: top;
}

svg {
  width: 100%;
  height: 100%;
}

.no-shadow {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 transparent !important;
          box-shadow: 0 0 0 transparent !important;
}

img {
  vertical-align: top;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
}

@media (min-width: 769px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1236px;
  }
}
.row {
  margin-left: -20px;
  margin-right: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  padding: 0 20px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  padding: 8px 0px;
  position: sticky;
  top: -1px;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  background: #29303C;
  display: none;
}
.subtitle span {
  font-weight: bold;
}

.subtitle.is-pinned {
  visibility: visible;
  padding: 9px 0px;
  opacity: 1;
  margin-top: 0;
}

.hero {
  background: #5F48B0;
  border-radius: 20px;
  padding: 40px 0px 100px;
}
.hero .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}
.hero p {
  font-weight: 300;
  margin-bottom: 0;
  color: #fff;
  max-width: 460px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 92px;
  padding: 0 40px;
}


.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 114px;
          flex: 0 0 114px;
  height: 45px;
}
.logo img {
  max-width: 100%;
}
.header-links{
  display: flex;
  align-items: center;
}

.white-btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 34px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.white-btn:first-child{
  margin-right: 15px;
}

.white-btn:hover, .white-btn:focus {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.docs-btn{
  margin-right: 20px;
  color: rgb(255 255 255 / 70%);
  font-size: 18px;
  font-weight: 500;
}
.docs-btn:hover{
  color: #fff;
}

.hero-title {
  max-width: 460px;
  margin-bottom: 23px;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff;
}

.video {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}
.video a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.video a:before {
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 21, 29, 0.9);
  pointer-events: none;
}
.video a:hover:before {
  background: rgba(17, 21, 29, 0.95);
}
.video .play {
  display: block;
  position: absolute;
  z-index: 4;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.products {
  padding: 71px 0 60px;
}
.products .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.headline {
  margin-bottom: 51px;
  position: relative;
  z-index: 1;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  color: #fff;
}
.headline::before {
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 9px;
  background: rgba(255, 255, 255, 0.1);
  height: 1px;
}
.headline span {
  padding-right: 18px;
  background: #29303C;
}

.product-card {
  margin-bottom: 40px;
  height: calc(100% - 40px);
  background: #343A46;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}
.product-card:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  border: 1px solid #5F48B0;
  opacity: 0;
  z-index: -1;
}
.product-card:hover:before {
  opacity: 1;
}
.product-card:hover .product-card-img img {
  top: -10px;
}
.product-card p {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 14px;
}
.product-card > .btn:before, .product-card > .btn:after {
  border-radius: 0 0 20px 20px;
}

.product-card-img {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
  top: 0;
}
.product-card-img img {
  max-width: 100%;
  position: relative;
  top: 0;
}
.product-card-img > .btn:before,
.product-card-img > .btn:after {
  border-radius: 0 0 20px 0 !important;
}

.product-card-text {
  padding: 22px 30px 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-card-title {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 13px;
}
.product-card-title a {
  color: #fff;
  text-decoration: none;
}
.product-card-title a:hover {
  color: #B8A4FF;
}

.product-card-subtitle {
  font-weight: bold;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  color: #787F89;
  margin-bottom: 5px;
}

.product-card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}
.product-card-btns a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.black-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: transparent;
}
.black-btn:hover, .black-btn:focus {
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.05);
}

.want-card {
  padding: 68px 30px 12px;
  text-align: center;
}

.want-card-img {
  margin-bottom: 74px;
}
.want-card-img svg {
  width: 100px;
  height: 100px;
}

.want-card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.how-build {
  background: #212630;
  border-radius: 20px;
  padding: 71px 0 40px;
}
.how-build .subtitle {
  background: #212630;
}
.how-build .headline span {
  background: #212630;
}

.how-build-list, .should-work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}
.how-build-list li, .should-work-list li {
  position: relative;
  padding: 20px 20px 0;
  margin-bottom: 53px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.how-build-list .ico, .should-work-list .ico {
  display: block;
  margin-bottom: 43px;
}
.how-build-list .ico svg:not([class]), .should-work-list .ico svg:not([class]) {
  width: 100px;
  height: 100px;
}
.how-build-list .ico .num, .should-work-list .ico .num {
  margin-top: -20px;
  margin-left: -40px;
  width: 40px;
  height: 40px;
}

.should-work {
  padding: 72px 0 40px;
}

.should-work-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}
.should-work-list li:nth-child(3) .ico {
  height: 100px;
}
.should-work-list li:nth-child(3) .ico svg {
  width: 120px;
  height: 90px;
}

.info {
  background: #5F48B0;
  border-radius: 20px;
  padding: 80px 0 40px;
}
.info .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.info-item {
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
  height: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-item .ico {
  margin-bottom: 42px;
}
.info-item .ico svg {
  width: 100px;
  height: 100px;
}
.info-item p {
  color: #fff;
  margin-bottom: 32px;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.info-item .btn:before, .info-item .btn:after {
  border-radius: 10px;
}
.info-item .btn, .info-item .white-btn {
  padding: 16px;
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
}

.info-item-title {
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.testimonials {
  padding: 72px 0 100px;
}

.testimonials-slider-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.testimonials-slider-wrapper .swiper-button-next,
.testimonials-slider-wrapper .swiper-button-prev {
  position: absolute;
  z-index: 10;
  width: 150px;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: 0;
  margin: 0;
}
.testimonials-slider-wrapper .swiper-button-next:after,
.testimonials-slider-wrapper .swiper-button-prev:after {
  display: none;
}
.testimonials-slider-wrapper .swiper-button-prev {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#29303C), to(rgba(41, 48, 60, 0)));
  background: linear-gradient(90deg, #29303C 0%, rgba(41, 48, 60, 0) 100%);
}
.testimonials-slider-wrapper .swiper-button-next {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(41, 48, 60, 0)), to(#29303C));
  background: linear-gradient(90deg, rgba(41, 48, 60, 0) 0%, #29303C 100%);
}

.testimonial-card {
  padding: 40px;
  background: #343A46;
  border-radius: 20px;
}
.testimonial-card p {
  margin-bottom: 0;
  font-weight: 300;
}

.testimonial-card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 19px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rating span {
  width: 16px;
  height: 15px;
  margin-right: 4px;
}

.date {
  font-weight: bold;
  font-size: 10px;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  color: #787F89;
}

.testimonials-slider {
  padding: 0 208px;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}
.swiper-slide:not(.swiper-slide-active):hover {
  opacity: 1;
}

.swiper-pagination {
  position: static;
}
.swiper-pagination .swiper-pagination-bullet {
  margin: 0 10px !important;
  background: #fff;
  opacity: 0.1;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #5F48B0;
  opacity: 1;
}

.pre-footer {
  padding: 72px 0 92px;
  background: #212630;
  border-radius: 20px;
}
.pre-footer .headline {
  margin-bottom: 34px;
}
.pre-footer .headline span {
  background: #212630;
}
.pre-footer .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.pre-footer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pre-footer-card p {
  margin-bottom: 0;
  font-weight: 300;
}

.card-ico {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  max-width: 140px;
}

.card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
}

.support-ico svg {
  width: 100px;
  height: 100px;
}

.developer-ico svg {
  width: 110px;
  height: 86px;
}

.footer {
  padding: 80px 0 60px;
  text-align: center;
}
.footer .logo {
  margin-bottom: 33px;
}
.footer p {
  color: #787F89;
  font-weight: 300;
  margin-bottom: 33px;
}

.socially {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socially li {
  padding: 0 15px;
}
.socially li a {
  display: block;
  width: 24px;
  height: 24px;
}
.socially li a svg {
  fill: #545C67;
}
.socially li a:hover {
  opacity: 0.5;
}

.faq {
  padding: 72px 0 10px;
}

.course-accordion {
  display: block;
  width: 100%;
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #BCC2CB;
  padding: 15px 45px 15px 0px;
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: none;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.course-accordion:after {
  width: 12px;
  height: 12px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  border-bottom: 2px solid #545C67;
  border-left: 2px solid #545C67;
  z-index: 2;
}
.course-accordion.no-border {
  border-bottom: 0;
}

.course-accordion.active {
  color: #fff;
  border-bottom: 0;
}
.course-accordion.active:after {
  -webkit-transform: translateY(-50%) rotate(-225deg);
          transform: translateY(-50%) rotate(-225deg);
}
.course-accordion.active + .course-panel {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 1px;
}
.course-accordion.active + .course-panel.no-border {
  border-bottom: 0;
}

.course-panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.course-panel .inner {
  padding: 0 0 33px;
}
.course-panel p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 0;
  font-weight: 300;
}

@media (max-width: 1299px) {
  .how-build-list li br, .should-work-list li br {
    display: none;
  }
}
@media (max-width: 991px) {
  .hero {
    padding: 32px 0 40px;
  }
  .hero .row {
    display: block;
  }
  .hero .col {
    max-width: none;
  }
  .hero p {
    margin-bottom: 33px;
  }

  .header {
    padding: 0 32px;
  }

  .white-btn {
    padding: 13px 19px;
    text-align: center;
  }

  .hero-title {
    font-size: 32px;
    line-height: 42px;
  }

  p {
    font-size: 15px;
    line-height: 25px;
  }

  .video {
    max-width: 335px;
  }

  .headline {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: -9px;
  }

  .products {
    padding: 30px 0 40px;
  }
  .products .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .product-card-text {
    padding: 23px 20px 9px;
  }

  .how-build {
    padding: 32px 0 1px;
  }

  .how-build-list .ico, .should-work-list .ico {
    margin-bottom: 23px;
  }

  .how-build-list li, .should-work-list li {
    font-size: 15px;
    line-height: 25px;
  }

  .how-build-list, .should-work-list {
    display: block;
  }
  .how-build-list li, .should-work-list li {
    max-width: none;
  }

  .should-work {
    padding: 32px 0 1px;
  }

  .info {
    padding: 40px 0 1px;
  }
  .info .row {
    display: block;
  }
  .info .col {
    max-width: none;
  }

  .info-item .ico {
    margin-bottom: 32px;
  }

  .info-item-title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 15px;
  }

  .info-item {
    height: auto;
  }
  .info-item p {
    margin-bottom: 23px;
  }

  .testimonials {
    padding: 32px 0 30px;
  }

  .testimonials-slider-wrapper {
    margin-bottom: 20px;
  }
  .testimonials-slider-wrapper::before, .testimonials-slider-wrapper:after {
    display: none;
  }

  .testimonials-slider {
    padding: 0;
  }

  .testimonial-card {
    padding: 20px;
  }

  .testimonial-card-top {
    margin-bottom: 9px;
  }

  .pre-footer {
    padding: 40px 0 1px;
  }
  .pre-footer .row {
    display: block;
  }
  .pre-footer .col {
    max-width: none;
  }

  .pre-footer-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 52px;
  }

  .card-ico {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 32px;
    text-align: center;
  }

  .card-text {
    width: 100%;
  }
  .card-text .headline {
    margin-bottom: 15px;
  }

  .footer {
    padding: 40px 0 30px;
  }
  .footer .logo {
    margin-bottom: 23px;
  }
  .footer p {
    margin-bottom: 23px;
  }

  .header {
    margin-bottom: 52px;
  }

  .testimonials .headline {
    margin-bottom: 32px;
  }

  .should-work-list li:nth-child(3) .ico {
    height: auto;
  }

  .testimonials-slider-wrapper .swiper-button-next,
.testimonials-slider-wrapper .swiper-button-prev {
    display: none;
  }

  .headline {
    margin-bottom: 32px;
  }

  .faq {
    padding: 32px 0 30px;
  }
  .faq .headline {
    margin-bottom: -27px;
  }

  .course-accordion {
    padding: 10px 35px 10px 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
  }
  .course-accordion:after {
    top: 20px;
    right: 5px;
  }

  .course-accordion.active::after {
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .header {
    padding: 0 20px;
  }

  .hero, .how-build, .info, .pre-footer {
    border-radius: 0;
  }
}
@media (max-width: 577px) {
  .headline {
    margin-bottom: 10px;
  }

  .headline span {
    display: inline;
  }

  .should-work-list li {
    padding-top: 0;
  }

  .subtitle {
    display: block;
  }

  .video {
    max-width: none;
  }

  .products .row {
    display: block;
  }
  .products .col {
    max-width: none;
  }
  .products .headline {
    margin-bottom: -12px;
  }

  .product-card {
    height: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .header{
    align-items: start;
  }
  .header-links{
    display: flex;
    flex-direction: column-reverse;
  }
  .white-btn:first-child{
    margin-right: 0;
    margin-bottom: 15px;
  }
  .docs-btn{
    margin-right: 0;
    margin-top: 20px;
  }
}
@media (max-width: 360px) {
  .header .white-btn {
    padding: 10px;
  }
  .docs-btn{
    font-size: 16px;
  }
}
