body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
          transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.9;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
          transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image:before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
          animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-container [data-selectable=true] {
  cursor: text;
}

.fancybox-image, .fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--video .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-iframe, .fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled], .fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:first-child, .fancybox-button--pause svg:first-child, .fancybox-button--play svg:nth-child(2) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  z-index: 99998;
}

.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}

.fancybox-caption {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.85)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(65%, rgba(0, 0, 0, 0.15)), color-stop(75.5%, rgba(0, 0, 0, 0.075)), color-stop(82.85%, rgba(0, 0, 0, 0.037)), color-stop(88%, rgba(0, 0, 0, 0.019)), to(transparent));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, transparent);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

@supports (padding: max(0px)) {
  .fancybox-caption {
    padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom)) max(44px, env(safe-area-inset-left));
  }
}
.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

.fancybox-loading {
  -webkit-animation: a 1s linear infinite;
          animation: a 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@-webkit-keyframes a {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes a {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.fancybox-animated {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
          transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1) translateZ(0);
          transform: scaleX(1) translateZ(0);
}

.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
          transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
          transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
}

@media (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }

  .fancybox-slide--image {
    padding: 6px 0;
  }

  .fancybox-close-small {
    right: -6px;
  }

  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }

  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }

  @supports (padding: max(0px)) {
    .fancybox-caption {
      padding-left: max(12px, env(safe-area-inset-left));
      padding-right: max(12px, env(safe-area-inset-right));
    }
  }
}
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:link, .fancybox-share__button:visited {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a:before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus:before {
  opacity: 0.5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  opacity: 1;
}

@media (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }

  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }

  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.psd, .course-accordion:before, .course-accordion:after, .installation .row:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
}

.trans, .course-accordion:after, .course-accordion, .btn {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #53229D;
  border: 0;
  padding: 9px;
  background: #FFFFFF;
  border-radius: 16px;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
  color: #53229D;
  text-decoration: none;
}

.trans-btn {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.trans-btn:hover, .trans-btn:focus {
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}

button, a,
.slide.slick-slide.slick-current.slick-active {
  outline: none !important;
}

body {
  background: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #fff;
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #6F00A3;
  text-decoration: underline;
}
a:hover, a:focus {
  text-decoration: none;
  color: #6F00A3;
}

p {
  font-size: 17px;
  color: #fff;
  line-height: 24px;
  margin: 0 0 24px 0;
}

.align, .community-item a, .hero p span, svg {
  display: inline-block;
  vertical-align: top;
}

svg {
  width: 100%;
  height: 100%;
}

.no-shadow {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 transparent !important;
          box-shadow: 0 0 0 transparent !important;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
}

@media (min-width: 769px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
.row {
  margin-left: -20px;
  margin-right: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  padding: 0 20px;
}

.subtitle {
  text-transform: uppercase;
  display: none;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding: 0px 20px;
  text-align: center;
  position: sticky;
  top: -1px;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
}
.subtitle span {
  font-weight: bold;
}

.subtitle.is-pinned {
  visibility: visible;
  padding: 9px 20px;
  opacity: 1;
  margin-top: 0;
}

.block, .community, .supported, .installation, .trust-you, .admin-can, .hero {
  border-radius: 16px;
  margin-bottom: 20px;
}

.hero {
  padding: 123px 0 80px;
  background: url(../images/hero-bg.jpg) center top no-repeat;
  background-size: cover;
}
.hero .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}
.hero p {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.hero .hero-sub-title span {
  align-self: flex-start;
  font-weight: 700;
  padding: 0 8px;
  background: #53229D;
  border-radius: 10px;
}
.hero .btn-box {
  margin-bottom: 30px;
}

.btn-box .btn:not(:last-child) {
  margin-right: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 61px;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}
.logo strong {
  font-weight: 700;
}
.logo .ico {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  max-width: 56px;
  height: 63px;
  margin-right: 29px;
}

.hero-title {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  font-weight: 700;
  margin: auto;
}
.hero-sub-title {
  max-width: 500px;
  font-size: 17px;
  color: #fff;
  line-height: 24px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 24px;
}

.hero-btn-box {
  max-width: 100%;
}
.btn-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.docs-btn{
  display: block;
  text-align: center;
  color: rgb(255 255 255);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  transition: .3s;
}
.docs-btn:hover{
  color: rgb(201 187 187);
}
.hero-btn-box .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
.btn-box .col {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.hero-img {
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 40px rgba(30, 39, 60, 0.25);
          box-shadow: 0px 10px 40px rgba(30, 39, 60, 0.25);
  border-radius: 16px;
  position: relative;
}
.hero-img:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #D3D7FF;
  opacity: 0;
  border-radius: 16px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.hero-img img {
  max-width: 100%;
}
.hero-img:hover:after {
  opacity: 0.6;
}
.hero-img:hover .play-btn {
  opacity: 1;
}

.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}
.play-btn .icon {
  width: 72px;
  height: 72px;
  margin-bottom: 13px;
}
.play-btn span {
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #53229D;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .hero-img:after {
    opacity: 0.6;
  }
  .hero-img .play-btn {
    opacity: 1;
  }
  .play-btn {
    opacity: 1;
  }
  .hero-sub-title, .hero-title {
    text-align: center;
  }
}
.admin-can {
  padding: 50px 0 80px;
  background: url(../images/admin-bg.jpg) center bottom no-repeat #4A50AA;
  background-size: cover;
}
.admin-can .subtitle {
  background: #4A50AA;
}
.admin-can .title-ico {
  width: 64px;
  height: 64px;
}
.admin-can .row {
  padding-bottom: 30px;
  justify-content: center;
}
.admin-can .row .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.admin-can .btn:not(.trans-btn) {
  color: #4A50AA;
}
.admin-can .btn:not(.trans-btn):hover, .admin-can .btn:not(.trans-btn):focus {
  color: #4A50AA;
}

.admin-can-card {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 800;
  font-size: 17px;
  line-height: 30px;
}

.admin-can-img {
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 21px;
}
.admin-can-img img {
  max-width: 100%;
}

.title-ico {
  margin: 0px auto 32px;
}

.headline {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  margin-bottom: 42px;
}
.headline span {
  font-weight: bold;
}

.trust-you {
  padding: 50px 0 80px;
  background: url(../images/trust-bg.jpg) center top no-repeat #7730C6;
  background-size: cover;
}
.trust-you .subtitle {
  background: #7730C6;
}
.trust-you .title-ico {
  width: 48px;
  height: 64px;
}
.trust-you .row {
  margin-bottom: 54px;
}
.trust-you .row .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 33.333%;
}
.trust-you .btn:not(.trans-btn) {
  color: #7730C6;
}

.trust-card p {
  margin-bottom: 13px;
}
.trust-card strong {
  font-weight: 800;
}
.trust-card > img {
  width: 95px;
}

.trust-ico {
  text-align: center;
  width: 72px;
  height: 72px;
  margin: 0px auto 35px;
}
.trust-ico.square {
  border-radius: 16px;
  overflow: hidden;
}
.trust-ico.square img {
  max-width: 100%;
}
.trust-ico.origin img {
  width: auto;
  height: 100%;
}

.installation {
  padding: 50px 0 80px;
  background: url(../images/installation-bg.jpg) center top no-repeat #954599;
  background-size: cover;
}
.installation .subtitle {
  background: #954599;
}
.installation .title-ico {
  width: 64px;
  height: 64px;
}
.installation .row:not(:last-child) {
  padding-bottom: 31px;
  margin-bottom: 55px;
  position: relative;
}
.installation .row:not(:last-child)::before {
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}
.installation .col:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  max-width: 333%;
}
.installation .col:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 67%;
          flex: 0 0 67%;
  max-width: 67%;
}
.installation p {
  color: #E8D1EA;
}
.installation p a {
  color: #fff;
  text-decoration: underline;
}
.installation p a:hover {
  text-decoration: none;
}
.installation .btn {
  width: 300px;
  max-width: 100%;
  color: #954599;
  margin-left: 10px;
}

.installation-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.installation-list {
  padding: 10px 0 40px;
  counter-reset: li;
  list-style: none;
}
.installation-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 102px;
  position: relative;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 24px;
  color: #E8D1EA;
  width: 100% !important;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}
.installation-list li a {
  color: #fff;
  text-decoration: underline;
}
.installation-list li a:hover {
  text-decoration: none;
}
.installation-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 64px;
  font-size: 32px;
  text-transform: uppercase;
  width: 64px;
  height: 64px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  border-radius: 50%;
}

.supported {
  background: -webkit-gradient(linear, left top, left bottom, from(#954599), to(#2c144f));
  background: linear-gradient(180deg, #954599 0%, #2c144f 100%);
  padding: 20px 0;
}
.supported .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.supported .ico {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  max-width: 48px;
  height: 79px;
}
.supported .headline {
  margin-bottom: 0;
}

.community {
  padding: 50px 0 80px;
  background: url(../images/community-bg.jpg) center top no-repeat #307996;
  background-size: cover;
}
.community .subtitle {
  background: #307996;
}
.community .title-ico {
  width: 64px;
  height: 64px;
}
.community .row {
  margin-bottom: 20px;
}
.community .row .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 33.333%;
}
.community .btn:not(.trans-btn) {
  color: #307996;
}

.community-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 24px;
}
.community-item a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.community-item span {
  display: block;
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
}
.community-item .ico {
  width: 72px;
  height: 72px;
  margin-bottom: 35px;
}

.faq {
  padding: 30px 0 64px;
}
.faq .headline {
  color: #2E2D3A;
}
.faq .title-ico {
  width: 64px;
  height: 64px;
}

.accordion {
  max-width: 680px;
  margin: 0px auto;
}

.course-accordion {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 17px;
  line-height: 24px;
  color: #2E2D3A;
  padding: 24px 45px 24px 20px;
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background: none;
}
.course-accordion:after {
  width: 12px;
  height: 12px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  border-bottom: 2px solid #C0C0C0;
  border-left: 2px solid #C0C0C0;
  z-index: 2;
}
.course-accordion:before {
  z-index: -1;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 16px 16px 0 0;
  opacity: 0;
}
.course-accordion.no-border {
  border-bottom: 0;
}

.course-accordion.active {
  font-weight: 700;
  border-bottom: 0;
}
.course-accordion.active:before {
  opacity: 1;
}
.course-accordion.active:after {
  -webkit-transform: translateY(-50%) rotate(-225deg);
          transform: translateY(-50%) rotate(-225deg);
}
.course-accordion.active + .course-panel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 1px;
}
.course-accordion.active + .course-panel.no-border {
  border-bottom: 0;
}

.course-panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.course-panel .inner {
  padding: 0 20px 16px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 0 0 16px 16px;
  margin-bottom: 10px;
}
.course-panel p {
  color: #2E2D3A;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  body {
    padding: 10px;
  }

  .block, .hero, .admin-can, .trust-you, .installation, .supported, .community {
    margin-bottom: 10px;
  }

  .row {
    margin-left: -17px;
    margin-right: -17px;
  }

  .col {
    padding-left: 17px;
    padding-right: 17px;
  }

  .container {
    padding: 0 17px;
  }

  p {
    text-align: center;
  }

  .hero {
    padding: 20px 0 30px;
  }
  .hero .row {
    display: block;
  }
  .hero .col {
    max-width: none;
  }
  .hero p {
    text-align: left;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .logo {
    margin-bottom: 37px;
  }

  .btn-box {
    margin: 0px auto;
  }

  .hero-btn-box{
    margin-bottom: 20px;
  }
  .btn {
    padding: 5px;
  }

  .hero-img {
    max-width: 320px;
    margin: 0 auto;
  }

  .admin-can {
    padding: 30px 0;
  }

  .headline {
    margin-bottom: 32px;
  }

  .admin-can .row {
    padding-bottom: 0;
  }

  .admin-can-img {
    margin-bottom: 12px;
  }

  .trust-you {
    padding: 30px 0;
  }

  .trust-card {
    text-align: center;
  }

  .installation {
    padding: 30px 0;
  }

  .installation .row {
    display: block;
  }
  .installation .row .col {
    max-width: none;
  }

  .installation .row:not(:last-child) {
    padding-bottom: 1px;
    margin-bottom: 25px;
  }

  .installation-title {
    margin-bottom: 19px;
  }

  .installation-list {
    padding: 0 0 10px;
  }
  .installation-list li {
    padding-left: 92px;
  }

  .supported {
    padding: 24px 0;
  }
  .supported .headline {
    font-size: 24px;
    line-height: 29px;
  }

  .community {
    padding: 30px 0;
  }

  .faq {
    padding: 20px 0;
  }

  .course-accordion {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .course-accordion.active {
    padding-top: 25px;
  }
}
@media (max-width: 767px) {
  .trust-you .row {
    display: block;
    margin-bottom: 0;
  }
  .trust-you .row .col {
    max-width: none;
  }

  .trust-card {
    margin-bottom: 35px;
  }

  .supported .headline {
    max-width: 220px;
  }

  .admin-can .row {
    display: block;
  }
  .admin-can .row .col {
    max-width: none;
  }

  .btn-box {
    width: auto;
  }

  .community .row {
    display: block;
  }
  .community .row .col {
    max-width: none;
  }
}
@media (max-width: 577px) {
  .faq .container {
    padding: 0;
  }

  .hero p span {
    display: inline;
  }

  .subtitle {
    display: block;
  }

  .hero-title {
    font-size: 30px;
  }
}
@media (max-width: 430px) {
  .btn-documentation{
    width: 70%;
  }
  .hero-title {
    font-size: 24px;
  }
}
@media (max-width: 360px) {
  .logo .ico {
    margin-right: 15px;
  }
}