body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
          transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.9;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
          transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image:before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
          animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-container [data-selectable=true] {
  cursor: text;
}

.fancybox-image, .fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--video .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-iframe, .fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled], .fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:first-child, .fancybox-button--pause svg:first-child, .fancybox-button--play svg:nth-child(2) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  z-index: 99998;
}

.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}

.fancybox-caption {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.85)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(65%, rgba(0, 0, 0, 0.15)), color-stop(75.5%, rgba(0, 0, 0, 0.075)), color-stop(82.85%, rgba(0, 0, 0, 0.037)), color-stop(88%, rgba(0, 0, 0, 0.019)), to(transparent));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, transparent);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

@supports (padding: max(0px)) {
  .fancybox-caption {
    padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom)) max(44px, env(safe-area-inset-left));
  }
}
.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

.fancybox-loading {
  -webkit-animation: a 1s linear infinite;
          animation: a 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@-webkit-keyframes a {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes a {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.fancybox-animated {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
          transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1) translateZ(0);
          transform: scaleX(1) translateZ(0);
}

.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
          transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
          transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
}

@media (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }

  .fancybox-slide--image {
    padding: 6px 0;
  }

  .fancybox-close-small {
    right: -6px;
  }

  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }

  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }

  @supports (padding: max(0px)) {
    .fancybox-caption {
      padding-left: max(12px, env(safe-area-inset-left));
      padding-right: max(12px, env(safe-area-inset-right));
    }
  }
}
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:link, .fancybox-share__button:visited {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a:before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus:before {
  opacity: 0.5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  opacity: 1;
}

@media (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }

  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }

  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.psd, .faq-question:before,
.faq-answer:before, .video-item-prev:before, .by-ticket-block:before, .by-ticket-block:after, .bg-star::before, .faq::before, .how-it-works-inner::before, .video-inner::before, .supported-inner::before, .admin-can-inner::before, .user-can-inner::before, .hero::before {
  content: "";
  display: block;
  position: absolute;
}

.trans, .btn {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.white-color {
  color: #fff;
}

.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 350px;
  max-width: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  color: #FFFFFF;
  border: 0;
  padding: 12px 20px;
  background: #D03DC6;
  -webkit-box-shadow: 0px 5px 0px #B122A8;
          box-shadow: 0px 5px 0px #B122A8;
  border-radius: 15px;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background: #EE43E2;
  -webkit-box-shadow: 0px 5px 0px #D62FCB;
          box-shadow: 0px 5px 0px #D62FCB;
  color: #fff;
  text-decoration: none;
}

.docs-btn{
  margin-top: 10px;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  transition: .3s;
}
.docs-btn:hover{
  color: #fff;
}

button, a,
.slide.slick-slide.slick-current.slick-active {
  outline: none !important;
}

body {
  background: #ffffff;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #363556;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #6F00A3;
  text-decoration: underline;
}
a:hover, a:focus {
  text-decoration: none;
  color: #6F00A3;
}

p {
  font-size: 20px;
  color: #fff;
  line-height: 28px;
  margin: 0 0 28px 0;
}

.align, .btn-box, .hero picture, svg {
  display: inline-block;
  vertical-align: top;
}

svg {
  width: 100%;
  height: 100%;
}

.no-shadow {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 transparent !important;
          box-shadow: 0 0 0 transparent !important;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
}

@media (min-width: 769px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
.row {
  margin-left: -20px;
  margin-right: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  padding: 0 20px;
}

.bg-star, .faq, .how-it-works-inner, .video-inner, .supported-inner, .admin-can-inner, .user-can-inner, .hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.bg-star::before, .faq::before, .how-it-works-inner::before, .video-inner::before, .supported-inner::before, .admin-can-inner::before, .user-can-inner::before, .hero::before {
  z-index: -1;
  width: 2400px;
  height: 2400px;
  background: url(../images/bg-star.svg) center no-repeat;
  background-size: 100%;
}

.hero {
  padding: 41px 0 53px;
  background: #2CC8D7;
}
.hero:before {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.1;
}
.hero .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}
.hero p {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 22px;
}
.hero picture {
  margin-bottom: 30px;
}

.hero-img img {
  max-width: 600px;
}

.hero-earn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  padding: 4px 30px 4px 20px;
  background: #01A5B4;
  border-radius: 15px;
  margin-bottom: 22px;
  max-width: 350px;
}
.hero-earn strong {
  font-weight: 600;
  font-size: 40px;
}

.user-can-inner {
  position: relative;
  padding: 69px 0 102px;
}
.user-can-inner:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.05;
}
.user-can-inner picture {
  display: block;
  width: 800px;
  max-width: 100%;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.user-can-inner picture img {
  max-width: 100%;
  vertical-align: top;
}

.user-can {
  background: #7646DA;
  text-align: center;
}
.user-can .sub-title {
  background: #7646DA;
}
.user-can .btn {
  font-size: 20px;
  line-height: 28px;
  padding: 10px;
  width: 240px;
  background: #7646DA;
  -webkit-box-shadow: 0px 5px 0px #6335C3;
          box-shadow: 0px 5px 0px #6335C3;
}
.user-can .btn:hover, .user-can .btn:focus {
  background: #EE43E2;
  -webkit-box-shadow: 0px 5px 0px #D62FCB;
          box-shadow: 0px 5px 0px #D62FCB;
}

.title {
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 26px;
}

.by-ticket-block {
  max-width: 772px;
  margin: 0px auto;
  position: relative;
  z-index: 1;
}
.by-ticket-block:before, .by-ticket-block:after {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.by-ticket-block:before {
  background: url(../images/stars-left.png) 0 0 no-repeat;
  background-size: 138px auto;
}
.by-ticket-block:after {
  background: url(../images/stars-right.png) right top no-repeat;
  background-size: 128px auto;
}

.price {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 33px;
}
.price span {
  display: block;
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  color: #FFB237;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 6px;
}

.btn-box {
  width: 288px;
  height: 116px;
  padding-top: 33px;
  background: url("../images/ticket.svg") 0 0 no-repeat;
  background-size: 100%;
}
.btn-box .btn {
  pointer-events: none;
}

.admin-can-inner {
  padding: 69px 0 100px;
}
.admin-can-inner:before {
  top: 73%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.1;
}

.admin-can {
  background: #FCB636;
  text-align: center;
}
.admin-can .sub-title {
  background: #FCB636;
}
.admin-can p {
  margin-bottom: 53px;
}
.admin-can picture {
  display: block;
  width: 800px;
  max-width: 100%;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.admin-can picture img {
  max-width: 100%;
  vertical-align: top;
}

.supported-inner {
  padding: 69px 0 86px;
}
.supported-inner:before {
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.15;
}

.supported {
  background: #D6DAED;
  text-align: center;
}
.supported .sub-title {
  background: #D6DAED;
  color: #363556;
}
.supported .title {
  color: #363556;
  text-shadow: 0 0 0 transparent;
  margin-bottom: 37px;
}
.supported p {
  margin-bottom: 37px;
  color: #363556;
}

.supported-img {
  margin-bottom: 59px;
}
.supported-img img {
  vertical-align: top;
  max-width: 338px;
}

.user-can.blue {
  background: #2CC8D7;
}
.user-can.blue .sub-title {
  background: #2CC8D7;
}
.user-can.blue p {
  margin-bottom: 53px;
}
.user-can.blue picture {
  display: block;
  max-width: 800px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  margin: 0px auto;
}
.user-can.blue picture img {
  max-width: 100%;
  vertical-align: top;
}

.video-inner {
  padding: 69px 0 85px;
}
.video-inner:before {
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.05;
}

.video {
  background: #7646DA;
  text-align: center;
}
.video .sub-title {
  background: #7646DA;
}
.video .title {
  margin-bottom: 53px;
}
.video .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.video-item {
  margin-bottom: 52px;
}

.video-item-prev {
  margin-bottom: 22px;
  position: relative;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}
.video-item-prev:before {
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
.video-item-prev:hover::before {
  opacity: 0.1;
}
.video-item-prev img {
  vertical-align: top;
  max-width: 100%;
}
.video-item-prev a {
  position: relative;
  z-index: 3;
}

.play {
  display: block;
  z-index: 5;
  pointer-events: none;
  width: 90px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-item-title {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.how-it-works-inner {
  padding: 57px 0 59px;
}
.how-it-works-inner:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.15;
}

.how-it-works {
  background: #D6DAED;
}
.how-it-works .sub-title {
  background: #D6DAED;
  color: #363556;
}
.how-it-works .title {
  margin-bottom: 54px;
  color: #363556;
  text-shadow: 0 0 0 transparent;
}
.how-it-works .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.how-card-img {
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 19px;
}
.how-card-img img {
  vertical-align: top;
  max-width: 100%;
}

.how-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.how-card-title p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  font-size: 18px;
  line-height: 28px;
  color: #363556;
  margin: 5px 0 0;
}

.how-card-num {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
  max-width: 38px;
  height: 38px;
  margin-right: 21px;
  background: #FFFFFF;
  border: 3px solid #8B91B0;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 30px;
  color: #363556;
  text-align: center;
  border-radius: 50%;
}

.faq {
  padding: 69px 0 85px;
  background: #FCB636;
  text-align: center;
}
.faq:before {
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.1;
}
.faq .title {
  margin-bottom: 53px;
}
.faq .btn {
  margin-top: 19px;
}

.faq-item {
  max-width: 536px;
  margin: 0px auto 44px;
}

.faq-question,
.faq-answer {
  margin-bottom: 26px;
  width: 533px;
  position: relative;
  z-index: 1;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}
.faq-question:before,
.faq-answer:before {
  width: 25px;
  height: 15px;
  top: 100%;
}

.faq-question {
  background: #fff;
  border-radius: 15px 15px 15px 0;
}
.faq-question:before {
  left: 0;
  background: url(../images/ang-white.png) 0 0 no-repeat;
}

.faq-answer {
  background: #2CC8D7;
  border-radius: 15px 15px 0 15px;
}
.faq-answer:before {
  right: 0;
  background: url(../images/ang-blue.png) right 0 no-repeat;
}

.faq-answer {
  color: #fff;
}

.sub-title {
  display: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding: 0px 20px;
  text-align: center;
  position: sticky;
  top: -1px;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  margin-top: 0px;
}

.sub-title.is-pinned {
  visibility: visible;
  padding: 9px 20px;
  opacity: 1;
  margin-top: 0;
}

.white-btn {
  color: #D03DC6;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 0px #EEEEEE;
          box-shadow: 0px 5px 0px #EEEEEE;
}
.white-btn:hover, .white-btn:focus {
  color: #D03DC6;
  background: #F8CFF4;
  -webkit-box-shadow: 0px 5px 0px #F1B7EC;
          box-shadow: 0px 5px 0px #F1B7EC;
}
a.white-link {
  background-color: rgba(0, 0, 0, .3);
  box-shadow: none;
  display: inline-block;
  width: 350px;
  max-width: 100%;
  font-weight: 600;
  line-height: 32px;
  text-decoration: none;
  text-align: center;
  border: 0;
  padding: 12px 0;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  transition: .5s;
}
.white-link:hover, .white-link:focus{
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
  box-shadow: none;
}

.hero .btns {
  margin: 0 -20px;
  flex-wrap: wrap;
  justify-content: center;
}
.hero .btns div:last-child{
  margin-top: 20px;
}
.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 540px;
  margin: 0px auto;
}
.btns > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
}
.btns .btn {
  width: 100%;
  padding: 12px;
}

@media (max-width: 991px) {
  .hero {
    padding: 30px 0;
  }

  .hero-img img {
    max-width: 100%;
  }

  .hero picture {
    margin-bottom: 14px;
  }

  .hero p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .hero-earn {
    margin-bottom: 12px;
    padding: 2px 20px;
    font-size: 18px;
    line-height: 28px;
    max-width: 240px;
  }
  .hero-earn strong {
    font-size: 30px;
  }

  .btn {
    width: 240px;
    font-size: 18px;
    line-height: 28px;
    padding: 6px;
  }

  .docs-btn{
    font-size: 20px;
  }

  .user-can-inner {
    padding: 22px 0 30px;
  }

  .title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .price {
    margin-bottom: 23px;
  }
  .price span {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 17px;
  }

  .by-ticket-block {
    max-width: none;
    width: 557px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
  .by-ticket-block:before, .by-ticket-block:after {
    top: -45px;
  }

  .admin-can-inner {
    padding: 22px 0 30px;
  }
  .admin-can-inner p {
    margin-bottom: 22px;
  }

  .admin-can picture, .user-can picture {
    max-width: 80%;
    margin: 0px auto;
  }

  .supported-inner {
    padding: 22px 0 33px;
  }
  .supported-inner .title {
    margin-bottom: 15px;
  }
  .supported-inner p {
    margin-bottom: 22px;
  }

  .supported-img {
    margin-bottom: 30px;
    text-align: center;
  }
  .supported-img img {
    max-width: 335px;
  }

  .user-can.blue p {
    margin-bottom: 22px;
  }

  .user-can.blue picture {
    max-width: 80%;
  }

  .video-inner {
    padding: 22px 0 33px;
  }

  .video-item {
    margin-bottom: 22px;
  }

  .video-item-prev {
    margin-bottom: 11px;
  }

  .how-it-works-inner {
    padding: 22px 0 1px;
  }
  .how-it-works-inner .row {
    display: block;
  }
  .how-it-works-inner .col {
    max-width: 60%;
    margin: auto;
  }
  .how-it-works-inner .title {
    margin-bottom: 24px;
  }

  .how-card {
    margin-bottom: 22px;
  }

  .faq {
    padding: 22px 0 33px;
  }
  .faq .title {
    margin-bottom: 45px;
  }

  .faq-item {
    margin-bottom: 13px;
  }

  .btns {
    margin: 0 -10px;
    max-width: none;
  }
  .btns > div {
    padding: 0 10px;
  }
  .btns .btn {
    padding: 6px;
  }
}
@media (max-width: 767px) {
  .hero .row,
.video .row {
    display: block;
  }
  .hero .col,
.video .col {
    max-width: 100%;
  }

  .video-item {
    width: 60%;
    margin: auto;
    margin-bottom: 22px;
  }

  .hero-img {
    max-width: 335px;
    margin: auto;
    margin-top: 33px;
  }
}
@media (max-width: 577px) {
  .sub-title {
    display: block;
  }

  .faq-question, .faq-answer {
    width: 335px;
    margin: 0px auto 26px;
    max-width: 100%;
  }

  .container {
    position: relative;
  }

  .user-can-inner {
    margin: -22px 0 0 0;
  }
  .user-can-inner:before {
    top: 130%;
  }

  .video-item {
    width: 80%;
  }

  .how-it-works-inner .col {
    max-width: 80%;
  }

  .admin-can-inner, .supported-inner, .video-inner, .how-it-works-inner {
    margin-top: -22px;
  }
}